APP_URL=<admin panel app URL> # optional, only if using Slackbot functionality
DISCORD_BOT_TOKEN=<insert bot token here>  # required
DOMAIN_ALLOWLIST=<comma-separated list of allowed domains for google authentication>  # optional, only if using Google OAuth and wanting to restrict access to certain domains
GOOGLE_CLIENT_ID=<google client id from google cloud oauth credentials>  # optional, required if using the admin panel with Google OAuth
GOOGLE_CLIENT_SECRET=<google client secret from google cloud oauth credentials>  # optional, required if using the admin panel with Google OAuth
RAILS_EMOJI_ID=<custom emoji id>  # optional, if not set, will fallback to a default emoji
RUBY_EMOJI_ID=<custom emoji id>  # optional, if not set, will fallback to a default emoji
SLACK_GROUP_ID=<slack group id>  # optional, only if using Slackbot notification functionality
SLACK_NOTIFICATIONS_CHANNEL=<slack notifications channel id>  # optional, only if using Slackbot notification functionality
SLACK_SIGNING_SECRET=<slack signing secret>  # optional, only if using Slackbot functionality
SLACK_TOKEN=<slack signing secret>  # optional, only if using Slackbot functionality