<% @title = "Ruby or Rails Login" %>

<body class="login">
  <div class="container">
    <h2>Log In</h2>
    <div>
      <p>Log in to access the Ruby or Rails admin panel.</p>
      <a href="/auth/google_oauth2" class="btn">Login with Google</a>
    </div>
  </div>
</body>
